@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 




  

/* home page  */
.admission{
    background-color:rgb(240, 243, 247);

}
.num{
    background-color: rgba(70, 70, 154, 0.858);
    min-height: 200px;
}
.feedback{
    background-image: url(about1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
.tra{
    background-color: rgba(0, 0, 0, 0.564);
}
.box7{
    background-color: azure;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    min-height: 300px;
    margin: 20px 20px;

}

.sec1{
    background-color: rgba(4, 4, 80, 0.979);
    height: 500px;
    padding: 50px;
}
.sec1h{
    color: rgb(152, 92, 6);
    
}
.sec1p{
    color: rgb(254, 252, 249);
    margin-top: 50px;
}


/* navabar styling  */
.na{
    background-color: rgba(4, 4, 80, 0.979) !important;
    
}
.a{
     font-family:Georgia, 'Times New Roman', Times, serif; 
    
    color: white !important;
}

/* .para{
     height: 120px; 
    min-height: min-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align:left;
    
} */


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 80%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}


.marquee-container {
    white-space: nowrap;
    overflow: hidden;
    width: max-content; /* Adjust width to fit all divs */
}
.marquee-container div {
    display: inline-block;
    width: 400px; /* Set a fixed width for each div */
    margin-right: 20px;
    overflow: hidden;
}
.marquee-container p {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box9{
    display: flex;
   justify-content: center;
  align-content: center; 
  text-align: center; 
  /* display: flex;
  justify-items: center;
  align-items: center; */
  height: 100%;
  flex-direction:column;
}
.text{
    color: white;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transform: translateY(160px);
    
}